.wrapper {
  outline: 2px solid #000;
  width: 75%;
  height: 97vh;
  margin: 10px auto; }

header {
  outline: 2px solid #000; }
  header .face {
    float: left;
    height: 186px;
    outline: 1px solid #000;
    display: inline-block; }
  header .logo-tagline {
    display: inline-block;
    margin: 0 17%; }

#game {
  width: 100%;
  margin: 0 auto; }
  #game #userInputs {
    margin: 2px; }
    #game #userInputs input {
      margin: 10px; }
