.wrapper {
    outline: 2px solid #000;
    width: 75%;
    height: 97vh;
    margin: 10px auto;
}
header {
    outline: 2px solid #000;
    .face {
        float: left;
        height: 186px;
        border-right: 2px solid #000;
        display: inline-block;
    }
    .logo-tagline {
        display: inline-block;
        margin: 0 17%;
    }
}
#game {
    width: 100%;
    margin: 0 auto;
    p {
        margin-top: 20px;
    }
    #userInputs {
        margin: 2px;
        input {
            margin: 10px;
        }
    }
    #story {
        margin: 20px 29%;
        width: 43%;
    }
}
.active {
    border: 2px solid green;
}
